<%= text_area_tag :snippet_content, @snippet.content %>

<%= label_tag :share_this %>
<%= text_field_tag :share_this, snippet_url(@snippet) %>

<div class="nav">
  <%= link_to "Back", root_path %>
</div>
